:root {
    --ff-largeAccent: 'Racing Sans One', Arial, Helvetica, sans-serif;
    --ff-main: 'Kanit', sans-serif;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-main);
    margin: 0 auto;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
    
}

h1 {
    margin-top: 1em;
}
h1,
h2 {
    font-family: var(--ff-largeAccent);
    border-bottom: 1px solid darkslategray;
}

h2 {
    margin-bottom: 1.8em;
}

.container {
    max-width: 40em;
    text-align: center;
    margin: 0 auto;
}

.accordion__heading {
    display: flex;
    justify-content: space-between;
    font-family: var(--ff-largeAccent);
    font-size: 1.5rem;
    word-spacing: .2rem;
    text-align: left;
    border-bottom: 1px solid darkslategray;
}

.accordion__details {
    max-height: 0;
    overflow: hidden;
    text-align: left;
    font-family: inherit;
}

/*.accordion__shrink {
    max-height: 0;
    overflow: hidden;
}*/

.accordion__icon {
    cursor: pointer;
    font-size: 2rem;
    color: red;
    font-weight: 700;
    font-family: var(--ff-main);
}

